@import "~/mixins/index";

@include project using($project) {
    & .element {
        color: map_get($project, 'color') !important;
    }
    @if(map_get($project, 'bg-image')) {
        & .v-main {
            background-attachment: fixed;
            background-position: center;
            background-size: contain;
            background-image: url('#{map_get($project, 'bg-image')}') !important;
        }
    }
}
