.theme--dark.v-application {
    color: var(--v-secondary-base) !important;;
}

.skinContainer {
    border: 1px solid silver;
}

.router-link-exact-active {
    text-decoration: underline !important;
}

.w-100 {
    width: 100% !important;
}

