.v-toolbar__content {
    padding: 0 !important;
}
.theme--dark.v-application, .theme--dark.v-app-bar.v-toolbar.v-sheet {
    background: var(--v-primary-base) !important;
}

header {
    box-shadow: none !important;
    border: none !important;
}

.header {
    width: 100%;
    padding: 0 70px;

    &-nav a {
        font-size: 20px;
        color: var(--v-secondary-base) !important;
        text-decoration: none;

        &:active {
            color: #f2f2f2;
        }
    }
}

.skinContainer {
    border: 1px solid silver;
}

.router-link-exact-active {
    text-decoration: underline !important;
}


//@include project using($project) {
//    & .element {
//        color: map_get($project, 'color') !important;
//    }
//    @if(map_get($project, 'bg-image')) {
//        & .v-main {
//            background-attachment: fixed;
//            background-position: center;
//            background-size: contain;
//            background-image: url('#{map_get($project, 'bg-image')}') !important;
//        }
//    }
//}
