*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Montserrat, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

.w-100 {
    width: 100% !important;
}

.v-list {
    padding: 0 !important;

    &-item {
        margin: 0 !important;
        padding: 0 !important;
    }
}
