*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Montserrat, sans-serif !important;
}

h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}
