header {
    box-shadow: none !important;
    border: none !important;
}

.header {
    width: 100%;
    padding: 0 30px;

    &-nav a {
        font-size: 20px;
        color: var(--v-secondary-base) !important;
        text-decoration: none;

        &:active {
            color: #f2f2f2;
        }
    }
}
