@import url(https://fonts.googleapis.com/css?family=Nunito);
.v-toolbar__content {
  padding: 0 !important;
}

.theme--dark.v-application {
  background: var(--v-primary-base) !important;
}

.theme--dark.v-app-bar.v-toolbar.v-sheet {
  background-color: var(--v-primary-base) !important;
}

header {
  box-shadow: none !important;
  border: none !important;
}

.header {
  width: 100%;
  padding: 0 70px;
}

.header-nav a {
  color: var(--v-secondary-base) !important;
  text-decoration: none;
  margin: 0 30px;
}

.router-link-exact-active {
  text-decoration: underline !important;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

.image_fill {
  height: inherit;
}


