@import url(https://fonts.googleapis.com/css?family=Nunito);
.app .element {
  color: #aa2fff !important;
}

.lotr .element {
  color: #101ee0 !important;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

.image_fill {
  height: inherit;
}

.image_fill img {
  height: 100%;
}


