@import url(https://fonts.googleapis.com/css?family=Nunito);
.theme--dark.v-application {
  color: var(--v-secondary-base) !important;
}

.skinContainer {
  border: 1px solid silver;
}

.router-link-exact-active {
  text-decoration: underline !important;
}

.w-100 {
  width: 100% !important;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

.image_fill {
  height: inherit;
}

.menuable__content__active {
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
}

.v-toolbar__content {
  padding: 0 !important;
}

.theme--dark.v-application,
.theme--dark.v-app-bar.v-toolbar.v-sheet {
  background: var(--v-primary-base) !important;
}

header {
  box-shadow: none !important;
  border: none !important;
}

.header {
  width: 100%;
  padding: 0 30px;
}

.header-nav a {
  font-size: 20px;
  color: var(--v-secondary-base) !important;
  text-decoration: none;
}

.header-nav a:active {
  color: #f2f2f2;
}

.v-list {
  padding: 0 !important;
}

.v-list-item {
  margin: 0 !important;
  padding: 0 !important;
}

.skinContainer {
  border: 1px solid silver;
}


